/* animations.css */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    animation: fadeIn 2s ease-in-out;
    border-radius: 80px 80px 3px 3px;
}

.cta-button {
    animation: fadeIn 1s ease-in-out;
}

